
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin:0;
}
/*-----------------CSS PORTAFOLIO-----------------*/
#portfolio{
    text-align: center;
}
/* .portfolio-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.portfolio-columna {
    float: left;
    width: 30%;
    padding-right: 10px;
}

.portfolio-fila::after {
    content: "";
    clear: both;
    display: table;
    padding-top: 10px;
}

.portfolio-img {
    width: 100%;
}


/* -----------------CSS ABOUT-----------------*/
.container-about{
    background-color: #18BC9C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}
.text-about{
    font-size: 30px;
}
.container-text {
    width: 45%;
    display: flex;
    padding: 30px;
    font-size: 13px;
    gap: 20px;
    justify-content: center;
}

.btn-download {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius:5px;
}

