@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;300&display=swap');

/*-----------------CSS Contact me-----------------*/
.contact{
     font-size:20px;
     font-family:'Montserrat,Lato';
     text-align:center;
 }

.btn-send{
    background-color:#18BC9C;
    color: aliceblue;
    border:none;
    border-radius:5px;
    font-family:'Montserrat,Lato';
    width: 50px;
    height: 25px;
    font-size:15px;
}
.name, .address, .message, .phone{
border-bottom: 5px solid black;
font-family:'Montserrat,Lato';
border:hidden;
font-size:15px;
width:300px;
height:70px;
background-color:transparent;
outline: none;
border: none;
border-bottom: 2px solid rgb(228, 214, 214);
}

.container-c5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-btn{
    margin-left:530px;
    margin-top: 50px;
    display: flex;
}



/*-----------------CSS PORTAFOLIO-----------------*/
#portfolio{
    text-align: center;
}
/* .portfolio-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.portfolio-columna {
    float: left;
    width: 30%;
    padding-right: 10px;
}

.portfolio-fila::after {
    content: "";
    clear: both;
    display: table;
    padding-top: 10px;
}

.portfolio-img {
    width: 100%;
}


/* -----------------CSS ABOUT-----------------*/
.container-about{
    background-color: #18BC9C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}
.text-about{
    font-size: 30px;
}
.container-text {
    width: 45%;
    display: flex;
    padding: 30px;
    font-size: 13px;
    gap: 20px;
    justify-content: center;
}

.btn-download {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius:5px;
}


 footer {
  height: 17rem;
  background-color: #2c3e50;
  color: white;
  font-family: 'Lato';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 }
 #inner-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }
 .footer-containers {
  width: 14rem;
}
 .footer-titles {
  font-weight: 400;
   font-size: 1.3rem;
   margin-bottom: 1.3rem;
 }
 .footer-btns{
   height: 3rem;
   width: 3rem;
   background-color: #2c3e50;
   border-radius: 60%;
   border: solid white;
 }
 .footer-btns:hover{
  background-color: white;
  transition: .6s;
 }
 .footer-icons:hover {
  color: #2c3e50;
  transition: .6s;
 }
 .footer-icons {
  font-size: 1.3rem;
  color: white;
 }
 #copyright{
   padding-top: 1rem;
   font-weight: 100;
 }
