/*
 * Estilos de tu proyecto
 */
* {
    box-sizing: border-box;
}

#portfolio{
    text-align: center;
}
/* .portfolio-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.portfolio-columna {
    float: left;
    width: 30%;
    padding-right: 10px;
}

.portfolio-fila::after {
    content: "";
    clear: both;
    display: table;
    padding-top: 10px;
}

.portfolio-img {
    width: 100%;
}